name: Build

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    name: Build
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          # - windows-latest
    runs-on: "${{ matrix.os }}"
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          cache: "yarn"
      - name: Install
        run: yarn install --immutable
      - name: Build alternative architecture (macOS)
        if: ${{ matrix.os == 'macos-latest' }}
        run: MINIDUMP_BUILD_ARCH=arm64 node build.js
      - name: Upload build artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: bin-${{ matrix.os }}
          path: bin/
