name: Test

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 22 * * 3"
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      matrix:
        node-version:
          - '22.12'
        os:
          - macos-latest
          - ubuntu-latest
          # - windows-latest
    runs-on: "${{ matrix.os }}"
    steps:
      - run: git config --global core.autocrlf input
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "${{ matrix.node-version }}"
          cache: "yarn"
      - name: Install
        run: yarn install --immutable
      - name: Build alternative architecture (macOS)
        if: ${{ matrix.os == 'macos-latest' }}
        run: MINIDUMP_BUILD_ARCH=arm64 node build.js
      - name: Test
        run: yarn test
