name: Test

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 22 * * 3"
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      matrix:
        node-version:
          - '22.12'
        os:
          - macos-latest
          - ubuntu-latest
          # - windows-latest
    runs-on: "${{ matrix.os }}"
    steps:
      - run: git config --global core.autocrlf input
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: "${{ matrix.node-version }}"
          cache: "yarn"
      - name: Install
        run: yarn install --immutable
      - name: Build alternative architecture (macOS)
        if: ${{ matrix.os == 'macos-latest' }}
        run: MINIDUMP_BUILD_ARCH=arm64 node build.js
      - name: Test
        run: yarn test
